version: '3.8'

services:
  chat-interface:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    network_mode: "host"
    environment:
      - BACKEND_URL=http://127.0.0.1:8072
